<div class="jumbotron text-center">
    <h1>Welcome Monkeys!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non sapien elit. Quisque tellus risus, posuere non imperdiet eu, adipiscing et turpis. Duis at commodo odio. Suspendisse ligula enim, facilisis ac vestibulum tincidunt, tempus id dolor. Etiam vitae mauris a lectus porttitor ornare. Morbi vel metus vitae est sagittis auctor. Vestibulum egestas tincidunt nisi et porttitor. Donec laoreet ligula id nunc gravida, in cursus urna facilisis. In tempus, arcu a tincidunt cursus, tellus ante imperdiet enim, eget blandit enim neque ac augue.</p>

    <a ui-sref=".list" class="btn btn-primary">Listas</a>
    <a ui-sref=".paragraph" class="btn btn-danger">Parrafos</a>
</div>

<div ui-view></div>