<div class="jumbotron text-center">
    <h1>The Monkeys</h1>
    <p>Cras mattis pretium quam, ac malesuada diam elementum sit amet. Proin ac tellus consectetur, suscipit arcu nec, ullamcorper nibh. Morbi a mollis nisl. Nunc elit dui, tempor eget egestas eu, ullamcorper et velit. Sed vel viverra est, sit amet ultrices ligula. Sed eu mi lorem. Sed nec fermentum mi. Aenean vel bibendum turpis. Aliquam commodo eu sem in porta. Nunc volutpat sollicitudin libero adipiscing euismod. Sed rutrum felis at lectus hendrerit adipiscing. Morbi tincidunt hendrerit nisi, ac dictum risus aliquet eget. Nullam orci neque, malesuada sed sapien eu, dapibus tempor ipsum.</p>
</div>

<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <div ui-view="tableMonkeys"></div>
    </div>

</div>